@model IEnumerable<PostbankApp.Models.Sale>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
 <h5><b>Here you can see all of your sales. You can:</b></h5>
    <label for="options">Choose a filtering method by status:</label>

    <select id="options">
        <option value="active">Active</option>
        <option value="expired">Expired</option>
        <option value="rejected">Rejected</option>
        <option value="waiting">Waiting</option>
    </select>
    <label for="options">Choose a filtering method by Date:</label>

    <select id="options">
        <option value="descending">Descending</option>
        <option value="ascending">Ascending</option>
    </select>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SaleValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="bg-light">
            <td>
                @Html.DisplayFor(modelItem => item.SaleValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
